<h1>Add a new actor</h1>

<form action="http://localhost:3000/actors/create_row">
  Name:
  <input name="name" type="string">

  Bio:
  <input name="bio" type="text">

  Date of Birth:
  <input name="dob" type="string">

  Source:
  <input name="image_url" type="string">

  <button>Add Actor</button>
</form>

<p><a href="/actors">Cancel and go back</a></p>

