<h1>Add a new movie</h1>

<form action="http://localhost:3000/movies/create_row">
  Title:
  <input name="title" type="string">

  Year:
  <input name="year" type="integer">

  Duration:
  <input name="duration" type="integer">

  Description:
  <input name="description" type="text">

  Source:
  <input name="image_url" type="string">

  <button>Add Your Favorite Movie</button>
</form>

<p><a href="/movies">Go Back</a></p>
