<h1>Add a new director</h1>

<form action="http://localhost:3000/directors/create_row">
  Name:
  <input name="name" type="string">

  Bio:
  <input name="bio" type="text">

  Date of Birth:
  <input name="dob" type="string">

  Source:
  <input name="image_url" type="string">

  <button>Add Director</button>
</form>

<p><a href="/directors">Cancel and go back</a></p>
